                                                            1000 Python Codes

In [6]:
print("Hello world")
print("hi world")

Hello world
hi world

In [7]:
print("Hello world",end=" ") ### default there us \n in print we replace it with space
print("hi world")

Hello world hi world

In [8]:
print("Hello world","hi world",sep="-") 
print("Hello world","hi world",sep="+")

Hello world-hi world
Hello world+hi world

In [9]:
str = "Hello world"
print(f"{str}")

Hello world

In [10]:
print("Hello World",file=open("output.txt","w")) # write to the file
print("Hello World",file=open("output.txt","a")) # write to the file append to the file

Playing with Python list

In [11]:
#creating the list
mylist = []
print(mylist)
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist)

[]
[1, 2, 3]

In [12]:
mylist_2 = [1,2,3,4,5,6]
mylist_3 = mylist + mylist_2
print(mylist_3)

[1, 2, 3, 1, 2, 3, 4, 5, 6]

In [13]:
mylist.extend([4,5,6,7])
print(mylist)

[1, 2, 3, 4, 5, 6, 7]

In [14]:
print(mylist.count(1))
print(mylist)
print(mylist.remove(5))
print(mylist)

1
[1, 2, 3, 4, 5, 6, 7]
None
[1, 2, 3, 4, 6, 7]

In [15]:
mylist.sort()
print(mylist)

[1, 2, 3, 4, 6, 7]

In [16]:
print(mylist * 2)
print(mylist + mylist)

[1, 2, 3, 4, 6, 7, 1, 2, 3, 4, 6, 7]
[1, 2, 3, 4, 6, 7, 1, 2, 3, 4, 6, 7]

In [17]:
mylist.clear()

In [18]:
print(mylist)

[]

In [19]:
mylist = [1, 2, 3, 4, 5]
print(mylist)
mylist.insert(1,0)
print(mylist)

[1, 2, 3, 4, 5]
[1, 0, 2, 3, 4, 5]

In [20]:
print(mylist.index(0))
mylist

1

[1, 0, 2, 3, 4, 5]

In [21]:
mylist.pop(1)
print(mylist)

[1, 2, 3, 4, 5]

In [22]:
mylist.remove(5)
print(mylist)

[1, 2, 3, 4]

In [23]:
mylist.reverse()
mylist

[4, 3, 2, 1]

In [24]:
sum(mylist)

10

In [25]:
del mylist

In [26]:
mylist = [1, 2, 3, 4, 5]
mylist = dict.fromkeys(mylist,0)
print(mylist)

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0}

In [27]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student)

{'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

In [28]:
print(student.get("name",0))

John

In [29]:
print(student.get("test",0))

0

In [30]:
student.items()

dict_items([('name', 'John'), ('age', 25), ('courses', ['Math', 'CompSci'])])

In [31]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'courses'])
dict_values(['John', 25, ['Math', 'CompSci']])
dict_items([('name', 'John'), ('age', 25), ('courses', ['Math', 'CompSci'])])

In [32]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

car = {
  "brand": "Ford",
 # "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang
Bronco

In [33]:
car.pop("brand")
print(car)

{'year': 1964, 'model': 'Bronco'}

In [34]:
car.popitem()

('model', 'Bronco')

In [35]:
car

{'year': 1964}

In [36]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [37]:
thisdict.update({"brand": "toyota"})
thisdict
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [38]:
student.clear()
student

{}

100 Python Code Challenges done !!!

In [39]:
rng =  range(1,100)
print(list(rng))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [40]:
rng =  range(1,100,2)
print(list(rng))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [41]:
rng =  range(100,-10,-2)
print(list(rng))

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

In [42]:
rng =  range(1,100,2)
print(sum(list(rng)))

2500

In [43]:
###map function
rng = list(range(10))
list_of_map = map(lambda x: x*2,rng)
print(list(list_of_map))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [44]:
words = ["banana", "apple", "kiwi", "strawberry"]

words_map = map(lambda x: len(x), words)
print("lenght - > ",list(words_map))

lenght - >  [6, 5, 4, 10]

###Filter function

In [3]:
words = ["banana", "apple", "kiwi", "strawberry"]
filter_word = list(filter(lambda x: len(x) > 5, words))
print(filter_word)

['banana', 'strawberry']